{% extends 'base.html.twig' %}

{% block title %}{{ controllerName }}{% endblock %}

{% block body %}
    <div class="container-fluid with-header">
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                <h2 class="text-uppercase font-weight-light line-height-large pb-5">Radka Ingrštová</h2>
                <div class="font-weight-light h4 py-2">+420 776 144 358</div>
                <div class="font-weight-light h4 py-2">maluju@radkaingrstova.cz</div>
            </div>
        </div>
    </div>
{% endblock %}
