<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RI | {% block title %}{% endblock %}</title>
    <meta name=“robots“ content=“index, follow“>
    {% block socials %}
        <meta property="og:title" content="Radka Ingrštová| Obrazy">
        <meta property="og:description"
              content="Potěšení pro Vaše smysly a bydlení">
        <meta property="og:image" content="https://radkaingrstova.cz/images/svg/RI_logo.svg">
        <meta property="og:url" content="https://radkaingrstova.cz">

        <meta name="twitter:title" content="Radka Ingrštová| Obrazy">
        <meta name="twitter:description"
              content="Potěšení pro Vaše smysly a bydlení">
        <meta name="twitter:image" content="https://radkaingrstova.cz/images/svg/RI_logo.svg">
        <meta name="twitter:card" content="summary_large_image">

        <meta name="description"
              value="Potěšení pro Vaše smysly a bydlení">
        <meta name="keywords" value="radka ingrstova obrazy">
    {% endblock %}
    <link rel="stylesheet" href="/dist/index.css">
    {% block stylesheets %}{% endblock %}
</head>
<body class="with-footer">

{% include './header.html.twig' %}
{% include './menu.html.twig' %}

{% block body %}{% endblock %}

{% include './webfix_footer.html.twig' %}

<script src="/dist/index.js"></script>
{% block javascripts %}{% endblock %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-145331404-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-145331404-1');
</script>

</body>

</html>
