.grey-outline-btn{
  font-size: 25px;
  text-align: center;
  font-weight: 300;
  background: transparent;
  color: #000;
  border: 2px solid black;
  border-radius: 1px;
  padding: 15px 50px;
  &:hover{
    background: #9b9b9b;
    color: #FFF;
    border: 2px solid transparent;
  }
}
