.painting-box {
  margin-bottom: 160px;
  display: flex;
}

.painting-thumbnail {
  width: auto;
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.painting-title {
  font-weight: 300;
  font-size: 18px;
  padding: 20px 0;
  display: inline-block;
  color: #000;
  &:hover {
    text-decoration: line-through;
    color: #000 !important;
  }
}

@include media-breakpoint-down(lg) {
  .painting-box{
    margin-bottom: 80px;
  }
  .content-box{
    max-height: 80vh;
  }
}

@include media-breakpoint-up(lg){
  .content-box{
    max-width: 615px;
    height: 70vh;
  }
}

@include media-breakpoint-down(md) {
  .painting-thumbnail {
    max-width: 300px;
    max-height: 70vh;
  }
}

@include media-breakpoint-down(sm) {
  .painting-box {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 2% !important;
  }
  .painting-thumbnail {
    height: auto;
    max-width: 100%;
  }
  .content-box {
    max-width: 100%;
    width: unset;
    margin: auto;
  }
  .painting-title {
    display: block;
  }
}

.painting-detail {
  height: 940px;
  max-height: 90vh;
  max-width: 1595px;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.about-picture{
  height: 250px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;

}
